body {
    color: rgb(255, 255, 255);
    background: rgb(37, 0, 0);
    margin: 0px;
    font-family: "Dancing+Script";
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(97, 13, 13);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {
    background: solid 2px rgb(143, 97, 97);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
 font-size: 20px;
}

img {
height: 200px;

}

.categoria-vídeos {
    display:flex;
    overflow-x: auto;
}
