body {
    color: rgb(255, 255, 255);
    background: rgb(82, 27, 27);
    margin:0px;
    font-size: 20;
}

header {
    border-bottom: solid 2px #000000;
    padding-top: 10px;
    font-size: 20px;
    font-feature-settings: "aalt" 32px;
    color: black;
}
section {
    background: rgb(112, 42, 42);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div { 
    margin-right: 20px;
}
