body {
    color: rgb(255, 255, 255);
    background: rgb(65, 3, 3);
    margin:0px;
    font-size: 20;
}

header {
    border-bottom: solid 2px black;
    padding-top: 10px;
    font-feature-settings: "aalt" 32px;
    color: black;
}
